# Copyright (c) 2011-2013, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on init
    mkdir /efs 0771 system radio

on early-init
    mkdir /firmware 0771 system system
    mkdir /firmware-modem 0771 system system
    symlink /data/tombstones /tombstones

on fs
    write /sys/devices/msm_sdcc.1/mmc_host/mmc1/power/control on
    write /sys/devices/msm_sdcc.3/mmc_host/mmc2/power/control on

    mount_all fstab.qcom
    restorecon_recursive /persist
    setprop ro.crypto.fuse_sdcard true

    exec /system/bin/sh /init.qcom.syspart_fixup.sh ${ro.board.platform} ${ro.serialno}

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

#    wait /dev/block/platform/msm_sdcc.1/by-name/cache
#    check_fs /dev/block/platform/msm_sdcc.1/by-name/cache ext4
#    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cache /cache nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit,errors=panic

    wait /dev/block/platform/msm_sdcc.1/by-name/persist
    check_fs /dev/block/platform/msm_sdcc.1/by-name/persist ext4
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persist /persist nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit,errors=panic

    wait /dev/block/platform/msm_sdcc.1/by-name/efs
    check_fs /dev/block/platform/msm_sdcc.1/by-name/efs ext4
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/efs /efs nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit,errors=panic
     chown system radio /efs
     chmod 0771 /efs
    restorecon -R /efs

#    wait /dev/block/platform/msm_sdcc.1/by-name/apnhlos
#    mount vfat /dev/block/platform/msm_sdcc.1/by-name/apnhlos /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337

#    wait /dev/block/platform/msm_sdcc.1/by-name/modem
#    mount vfat /dev/block/platform/msm_sdcc.1/by-name/modem /firmware-modem ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337
     write /sys/kernel/boot_adsp/boot 1
     setprop qcom.audio.init complete

on post-fs-data
      mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /tombstones/mdm 0771 system system

    # create directory for ril data
    mkdir /data/misc/radio 0775 radio radio
    mkdir /data/misc/radio/hatp 0775 radio system

    # drm and related files in EFS
    mkdir /efs/drm 0774 drm system
    mkdir /efs/drm/sdrm 0774 drm system
    mkdir /efs/drm/sdrm/data_agent 0774 drm system
    restorecon /efs/drm
    restorecon /efs/drm/sdrm
    restorecon /efs/drm/data_agent

    # DivX DRM
    mkdir /efs/.files 0775
    mkdir /efs/.files/.dx1 0775
    mkdir /efs/.files/.dm33 0775
    mkdir /efs/.files/.mp301 0775
    chown media system /efs/.files/.dx1
    chown media system /efs/.files/.dm33
    chown media system /efs/.files/.mp301
    chmod 0775 /efs/.files/.dx1
    chmod 0775 /efs/.files/.dm33
    chmod 0775 /efs/.files/.mp301

# h2k permission
    chmod 0644 /efs/redata.bin
    chown radio radio /efs/h2k.dat
    chmod 0644 /efs/h2k.dat

# DRK permission
    mkdir /efs/prov 0770 radio system
    chown radio system /efs/prov/libdevkm.lock
    chmod 0660 /efs/prov/libd

    #OTG Test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

    #Essential node for usbservice
    mkdir /dev/bus/ 755 root root
    mkdir /dev/bus/usb 755 root root

    # wifi
    mkdir /efs/wifi 0775 system system

    # Permission for fast dormacy for RIL
    chown system radio /sys/devices/virtual/sec/bamdmux/waketime

    # for TRP/TIS
    write /data/.psm.info 1
    chown system root /data/.psm.info
    chmod 0660 /data/.psm.info

    # icd
    exec icd_check
    chown system system /dev/icd
    chmod 0644 /dev/icd
    write /dev/icdr 0
    chown system system /dev/icdr
    chmod 0644 /dev/icdr
    chown system system /dev/tzic

    # h2k permission
    chmod 0644 /efs/redata.bin

    chown system camera /sys/class/flash/flash/flash_power
    chmod 660 /sys/class/flash/flash/flash_power

on boot

# MUIC
    chown radio system /sys/class/sec/switch/usb_sel
    chown radio system /sys/class/sec/switch/usb_state
    chown radio system /sys/class/sec/switch/uart_sel
    chown radio system /sys/class/sec/switch/chg_type
    chown radio system /sys/class/sec/switch/apo_factory
    chown system radio /sys/class/sec/switch/adc
    chown system radio /sys/class/sec/switch/otg_test

# Fingerprint
    mkdir /dev/validity 0775 system system

# SEC DVFS sysfs node
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chown radio system /sys/power/cpufreq_table
    chmod 664 /sys/power/cpufreq_max_limit
    chmod 664 /sys/power/cpufreq_min_limit
    chmod 664 /sys/power/cpufreq_table

    chown radio system /sys/devices/system/cpu/kernel_max
    chmod 664 /sys/devices/system/cpu/kernel_max

    chown radio system /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chmod 664  /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chown radio system /sys/class/kgsl/kgsl-3d0/min_pwrlevel
    chmod 664  /sys/class/kgsl/kgsl-3d0/min_pwrlevel
    chown radio system /sys/class/kgsl/kgsl-3d0/gpu_available_frequencies
    chmod 664  /sys/class/kgsl/kgsl-3d0/gpu_available_frequencies

    # Auto Brightness
    chown system system  /sys/class/backlight/panel/auto_brightness
    chmod 0660 /sys/class/backlight/panel/auto_brightness

    # LCD mdnie and panel work
    chown system system  /sys/class/mdnie/mdnie/lcdtype
    chown system system  /sys/class/mdnie/mdnie/lcd_power
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chmod 0660 /sys/class/mdnie/mdnie/scenario

    chown system system /sys/class/mdnie/mdnie/tuning
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system system  /sys/class/mdnie/mdnie/mdnie_temp
    chown system system /sys/class/mdnie/mdnie/mode
    chown system system /sys/class/mdnie/mdnie/negative
    chown system media_rw /sys/class/mdnie/mdnie/playspeed
    chown system media_rw /sys/class/mdnie/mdnie/accessibility
    chown system system  /sys/class/mdnie/mdnie/cabc
    chown system system  /sys/class/mdnie/mdnie/bypass

    chown system system /sys/class/lcd/panel/window_type
    chown radio system /sys/class/lcd/panel/power_reduce
    chown radio system /sys/class/lcd/panel/siop_enable
    chown radio system /sys/class/lcd/panel/temperature
    chown radio system /sys/class/lcd/panel/tuning

    chown radio system /sys/class/lcd/panel/partial_disp
    chmod 0660 /sys/class/lcd/panel/partial_disp


    # LCD HMT
    chown radio system /sys/class/lcd/panel/hmt_on
    chown radio system /sys/class/lcd/panel/hmt_bright
    chown radio system /sys/class/lcd/panel/hmt_dual_scan
    chown radio system /sys/class/lcd/panel/hmt_aid
    chown radio system /sys/class/lcd/panel/hmt_change_fps
    chown radio system /sys/class/lcd/panel/hmt_hbm
    chown radio system /sys/class/lcd/panel/hmt
    chown radio system /sys/class/lcd/panel/force_500cd

    chmod 0660 /sys/class/lcd/panel/hmt_on
    chmod 0660 /sys/class/lcd/panel/hmt_bright
    chmod 0660 /sys/class/lcd/panel/hmt_dual_scan
    chmod 0660 /sys/class/lcd/panel/hmt_aid
    chmod 0660 /sys/class/lcd/panel/hmt_change_fps
    chmod 0660 /sys/class/lcd/panel/hmt_hbm
    chmod 0660 /sys/class/lcd/panel/hmt

    # LCD ALPM Mode
    chown system system /sys/class/lcd/panel/alpm
    chmod 0660 /sys/class/lcd/panel/alpm

    # Auto Brightness
    chown system system  /sys/class/backlight/panel/auto_brightness
    chmod 0660 /sys/class/backlight/panel/auto_brightness

    # Permissions for TCON
    chown system system /sys/class/tcon/tcon/lux
    chown system system /sys/class/tcon/tcon/auto_br
    chown system media_rw /sys/class/tcon/tcon/mode
    chown system radio /sys/class/tcon/tcon/black_test
    chown system radio /sys/class/tcon/tcon/tcon_test

# Adjust YUV to RGB Conversion(CSC_Conversion)
    chown system media_rw /sys/class/graphics/fb0/csc_cfg
    chmod 0660 /sys/class/graphics/fb0/csc_cfg

#OTG Test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

#Essential node for usbservice
    mkdir /dev/bus/ 755 root root
    mkdir /dev/bus/usb 755 root root

# Permissions for InputDevices.
    chown system radio /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/sec_touchkey/brightness

# Permissions for Camera
   chown system radio /sys/class/camera/rear/rear_camfw
   chown system radio /sys/class/camera/rear/rear_camfw_load
   chown system radio /sys/class/camera/rear/rear_camtype
   chown system radio /sys/class/camera/flash/rear_flash
   chown system radio /sys/class/camera/front/front_camfw
   chown system radio /sys/class/camera/front/front_camtype

    #OTG Test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b
    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_lowpower
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/module/sco/parameters/disable_esco
    chown system system /sys/kernel/ipv4/tcp_wmem_min
    chown system system /sys/kernel/ipv4/tcp_wmem_def
    chown system system /sys/kernel/ipv4/tcp_wmem_max
    chown system system /sys/kernel/ipv4/tcp_rmem_min
    chown system system /sys/kernel/ipv4/tcp_rmem_def
    chown system system /sys/kernel/ipv4/tcp_rmem_max
    chown root radio /proc/cmdline

# Permissions for Audio
   chown system system /sys/devices/fe12f000.slim/es705-codec-gen0/keyword_grammar_path
   chown system system /sys/devices/fe12f000.slim/es705-codec-gen0/keyword_net_path

# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal2
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/prox_thresh
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
# Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name
# Gyro_sensor
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name
# Barometer_sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/calibration
# Magnetic_sensor
#    chown system radio /dev/akm8963
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
    chown system radio /sys/class/sensors/magnetic_sensor/selftest
    chown system radio /sys/class/sensors/magnetic_sensor/adc
    chown system radio /sys/class/sensors/magnetic_sensor/dac
    chown system radio /sys/class/sensors/magnetic_sensor/status
# Temphumidity_sensor
    chown system radio /sys/class/sensors/temphumidity_sensor/vendor
    chown system radio /sys/class/sensors/temphumidity_sensor/name
    chown system radio /sys/class/sensors/temphumidity_sensor/engine_ver
    chown system radio /sys/class/sensors/temphumidity_sensor/engine_ver2
    chown system radio /sys/class/sensors/temphumidity_sensor/cp_thm
    chown system radio /sys/class/sensors/temphumidity_sensor/send_accuracy
# Grip_sensor
    chown system radio /sys/class/sensors/grip_sensor/reset
    chown system radio /sys/class/sensors/grip_sensor/vendor
    chown system radio /sys/class/sensors/grip_sensor/name
    chown system radio /sys/class/sensors/grip_sensor/raw_data
    chown system radio /sys/class/sensors/grip_sensor/calibration
    chown system radio /sys/class/sensors/grip_sensor/threshold
    chown system radio /sys/class/sensors/grip_sensor/thresh_touch_check
    chown system radio /sys/class/sensors/grip_sensor/onoff
    chown system radio /sys/class/sensors/grip_sensor/erase_cal
# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
    chown system radio /sys/class/sensors/ssp_sensor/ori_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/temp_humi_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/accel_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/game_rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_det_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/ssp_flush
    chmod 0600 /dev/batch_io
    chown system system /dev/batch_io
# Gesture_sensor
    chown system radio /sys/class/sensors/gesture_sensor/vendor
    chown system radio /sys/class/sensors/gesture_sensor/name
    chown system radio /sys/class/sensors/gesture_sensor/raw_data
    chown system radio /sys/class/sensors/gesture_sensor/ir_current
    chown system radio /sys/class/sensors/gesture_sensor/selftest
# SHTC1 BULK
    chmod 0600 /dev/shtc1_sensor
    chown system system /dev/shtc1_sensor

# Permissions for SSRM
    chmod 0664 /sys/devices/platform/sec-thermistor/temperature
    chmod 0664 /sys/class/power_supply/battery/siop_level
    chmod 0664 /sys/class/power_supply/battery/test_charge_current
    chown radio system /sys/devices/platform/sec-thermistor/temperature
    chown radio system /sys/class/power_supply/battery/siop_level
    chown radio system /sys/class/power_supply/battery/test_charge_current

# MOBEAM
    chown system radio /sys/class/sec/sec_barcode_emul/vendor
    chown system radio /sys/class/sec/sec_barcode_emul/name
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_send
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_led_status
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_ver_check

# NFC_NXP
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn547
    chown nfc nfc /dev/pn547

# NFC_BROADCOM
    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
    mkdir /data/nfc
    mkdir /data/nfc/param
    chmod 0700 /data/nfc
    chmod 0700 /data/nfc/param
    chown nfc nfc /data/nfc
    chown nfc nfc /data/nfc/param


# IR_LED
    chown system radio /sys/class/sec/sec_ir/ir_send
    chown system radio /sys/class/sec/sec_ir/ir_send_result
# Permission for HALL IC
    chown system radio /sys/class/sec/sec_key/hall_detect
# Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.wifi    524288,1048576,2560000,524288,1048576,2560000
    setprop net.tcp.buffersize.lte     524288,1048576,2560000,524288,1048576,2560000
    setprop net.tcp.buffersize.umts    4094,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.hspa    4092,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hsupa   4092,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.hsdpa   4092,87380,704512,4096,16384,110208
    setprop net.tcp.buffersize.hspap   4092,87380,704512,4096,16384,262144
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4096,30000,30000,4096,8760,11680
    setprop net.tcp.buffersize.evdo    4094,87380,262144,4096,16384,262144

#wifi display
    write /proc/sys/net/core/rmem_max   1048576
    write /proc/sys/net/core/wmem_max   2097152

# HDCP 2.x
    mkdir /data/system/hdcp2 0775 system system

# h2k permission
    chown radio system /efs/redata.bin
    chmod 0644 /efs/h2k.dat
    mkdir /data/misc/radio/hatp 0775 radio system

# Permissions for Charging
    chown system radio /sys/class/power_supply/battery/batt_reset_soc
    chown system radio /sys/class/power_supply/battery/update
    chown system radio /sys/class/power_supply/battery/factory_mode
    chown system radio /sys/class/power_supply/battery/batt_slate_mode
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
    chown system radio /sys/class/power_supply/battery/talk_wcdma
    chown system radio /sys/class/power_supply/battery/talk_gsm
    chown system radio /sys/class/power_supply/battery/call
    chown system radio /sys/class/power_supply/battery/data_call
    chown system radio /sys/class/power_supply/battery/gps
    chown system radio /sys/class/power_supply/battery/wifi
    chown system radio /sys/class/power_supply/battery/lte
    chown system radio /sys/class/power_supply/battery/wc_enable
    chown system radio /sys/class/power_supply/battery/lcd

# Permission for fast dormancy for RIL
    chown system radio /sys/devices/virtual/sec/bamdmux/waketime

# Permissions for gpio_keys
    chown system radio /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 116,172

    # Vibetonz
    chmod 0660 /dev/tspdrv
    chown root shell /dev/tspdrv
	chown system system /sys/class/timed_output/vibrator/pwm_value
	chmod 0660 /sys/class/timed_output/vibrator/pwm_value
    chown system system /sys/class/timed_output/vibrator/pwm_max
	chmod 0660 /sys/class/timed_output/vibrator/pwm_max
	chown system system /sys/class/timed_output/vibrator/pwm_min
	chmod 0660 /sys/class/timed_output/vibrator/pwm_min
	chown system system /sys/class/timed_output/vibrator/pwm_default
	chmod 0660 /sys/class/timed_output/vibrator/pwm_default
	chown system system /sys/class/timed_output/vibrator/pwm_threshold
	chmod 0660 /sys/class/timed_output/vibrator/pwm_threshold
    
    # Panel color temperature
    chmod 0660 /sys/class/lcd/panel/panel_colors
    chown system system /sys/class/lcd/panel/panel_colors


# Allow usb charging to be disabled peristently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class main
    user camera
    group camera system inet input graphics radio sdcard_rw sdcard_r media_rw shell log

#start GNSS/Sensor interface daemon
service gsiff_daemon /system/bin/gsiff_daemon
    class late_start
    user system
    group gps qcom_oncrpc net_raw

service qrngd /system/bin/qrngd -f
   class main
   user root
   group root

service qrngp /system/bin/qrngp
    class main
    user root
    group root
    oneshot
    disabled

on property:sys.boot_completed=1
    start qrngp

service qseecomd /system/bin/qseecomd
   class late_start
   user root
   group system

service mpdecision /system/bin/mpdecision --avg_comp
   user root
   group system
   disabled

service thermal-engine /system/bin/thermal-engine
   class core
   user root
   group radio system

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service audiod /system/bin/audiod
   class late_start
   user system
   group system

service ppd /system/bin/mm-pp-daemon
   class late_start
   user system
   socket pps stream 0660 system system graphics
   group system graphics

