# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot
# permission for Input Device(Touchkey).
    chmod 0660 /sys/class/input/input1/enabled
    chown system system /sys/class/input/input1/enabled
    chown radio system /sys/class/sec/sec_touchkey/touch_sensitivity
    chown radio system /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chown system radio /sys/class/sec/sec_touchkey/boost_level

# permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown radio net_bt_stack /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

# bluetooth LPM
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite
    chmod 0600 /dev/btlock
    chown bluetooth bluetooth /dev/btlock

on fs

# Support Preload install apks
    mkdir /preload 0771 system system

#For Absolute Persistence Partition

     mkdir /persdata 0755 system system
     mkdir /persdata/absolute 0750 system system

     wait /dev/block/platform/msm_sdcc.1/by-name/persdata
     check_fs /dev/block/platform/msm_sdcc.1/by-name/persdata ext4
     mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persdata /persdata/absolute nosuid nodev barrier=1

     chown system system /persdata
     chmod 0755 /persdata
     chown system system /persdata/absolute
     chmod 0750 /persdata/absolute

# bluetooth dhcp config
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
 disabled
 oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
 disabled
 oneshot

# service for TZPR provisioning version check app
service scranton_RD /system/bin/scranton_RD
    class main
    user root
    disabled
    oneshot

# start for TZPR provisioning version check app
on property:sys.qseecomd.enable=true
    start scranton_RD
